body{background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:greenyellow;}
p{ text-align: center;
    color:greenyellow;}
h1{align-items: center;}
.pw{background-color: rgb(199, 253, 188);
	color: rgb(0, 0, 0);
	width: 700px;
	height: 75px;
	padding: 5px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	border: 8px solid rgb(0, 0, 0);
	text-align: center;
	text-decoration: underline;
    font-size:xx-large;}
h2{text-align:center
} 
.return{
	border-style: solid;
	border-color: greenyellow;
}
.IndexPWEnter{
    background-color: rgb(199, 253, 188);
	color: rgb(0, 0, 0);
	width: 350px;
	height: 75px;
	padding-bottom: 15px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	border: 5px solid rgb(0, 0, 0);
	text-align: center;
	line-height: 75px;
	font-weight: bold;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:green;}
.return{
	padding-inline:20px;
   width: 310px;
   height: 75px;
   box-align: center;
   background-color:rgb(199, 253, 188);
   	padding-bottom: 15px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	border: 5px solid rgb(0, 0, 0);
	text-align: center;
	line-height: 75px;
	font-weight: bold;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:green;}
div{
	  padding-inline:20px;
   width: 1000px;
   height: 1550px;
   box-align: center;
   background-color:rgb(199, 253, 188);
   border:2px solid green;
   margin-left: auto;
   margin-right: auto;
   text-align:center;
   color: black;}
img{height: 1306px;
    width: 859px;
    border: 2px solid rgb(199, 253, 188);
    padding: 10px;
    margin: 5px;
}
.FacultyIndex{
	 padding-inline:20px;
   width: 500px;
   height: 200px;
   box-align: center;
   background-color:rgb(199, 253, 188);
   border:2px solid green;
   margin-top:5px;
   margin-left: auto;
   margin-right: auto;
   text-align:center;
   color: black;}
